.Movie-rate {
  text-align: start;
  color: rgb(224, 208, 67);
  text-decoration: underline;
}

body {
  background-image: linear-gradient(179deg, rgb(11, 47, 68) 9.2%, rgb(52, 125, 168) 103.9%);
}

.Movie-genres {
  text-align: start;
}

.Icon-star {
  margin-right: 5px;
  margin-bottom: 4px;
}
